*{
    box-sizing: border-box;
}

.container{
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "a" 
        "b"
        "c"
    ;
    height: 100vh;
    gap: 10px;
}

.item{
    background-color: gray;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header{
    grid-area: header;
}

.a{
    grid-area: c;
}

.b{
    grid-area: b;
}

.c{
    grid-area: a;
}
